@page "/Admin/Dreams"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout

@using Jhooa.UI.Components.Layout
@using Jhooa.UI.Features.Dreams.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Shared> Loc
@inject ApplicationDbContext DbContext

<h3>@Loc["DreamsList"]</h3>

<table>
    <thead>
    <tr>
        <th>@Loc["Type"]</th>
        <th>@Loc["Title"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var dream in _dreams)
    {
        <tr>
            <td>@dream.Type</td>
            <td>@dream.Title</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<Dream> _dreams = [];

    protected override async Task OnInitializedAsync()
    {
        _dreams = await DbContext.Dreams.ToListAsync();
    }

}