@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resources.Home> Loc


<section class="mb-8 md:mb-20 ">
    <div class="w-full bg-jhooa-teal-200">

        <div class="max-w-screen-xl mx-auto px-8 text-white grid grid-cols-1 md:grid-cols-2">
            <div class="px-4 pt-8 tracking-wide">

                <h2 class="mb-8 text-4xl tracking-wider font-monetaRegular">@Loc["OurConcept"]</h2>
                <p class="md:mb-14 font-amsiProLight">
                    @((MarkupString)Loc["OurConceptPart1"].ToString())
                    <br/><br/>
                    @((MarkupString)Loc["OurConceptPart2"].ToString())
                    <br/><br/>
                    @((MarkupString)Loc["OurConceptPart3"].ToString())
                    <br/><br/>
                    @((MarkupString)Loc["OurConceptPart4"].ToString())
                </p>
            </div>
            <div class="relative w-64 m-auto md:w-[328px] md:h-[328px] md:-bottom-48 lg:w-[528px] lg:h-[528px] lg:-bottom-24">  @* -bottom-10 lg:-bottom-32 *@
                <ConceptCaroussel />
            </div>
        </div>
    </div>
</section>

<span class="font-amsiProBlack"></span>