@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Jhooa.UI.Features.Identity.Models
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Identity.Components
@using Microsoft.EntityFrameworkCore
@layout ManageLayout
@inject IStringLocalizer<Resources.Identity> Loc
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager
@inject ApplicationDbContext DbContext

<PageTitle>@Loc["MyAccount"]</PageTitle>


<section class="max-w-screen-xl mx-auto  text-white">

    <h2 class="text-xl font-semibold mb-4">@Loc["MyAccount"]</h2>

    @if (Input is not null)
    {
        <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmitAsync" FormName="login" class="">
            <StatusMessage/>
            <DataAnnotationsValidator/>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="space-y-3">                   
                    <JhooaInputText @bind-Value="Input.Lastname" DisplayName="@Loc["LastName"]"
                                    ValidationFor="@(() => Input.Lastname)" Autocomplete="lastname"/>
                    <JhooaInputText @bind-Value="Input.Firstname" DisplayName="@Loc["FirstName"]"
                                    ValidationFor="@(() => Input.Firstname)" Autocomplete="firstname"/>

                    <JhooaInputText @bind-Value="Input.PhoneNumber" DisplayName="@Loc["PhoneNumber"]"
                                    ValidationFor="@(() => Input.PhoneNumber)" Autocomplete="phone"/>
                </div>

                <div class="space-y-3">
                    
                    <JhooaInputText @bind-Value="Input.Address" DisplayName="@Loc["Address"]"
                                    ValidationFor="@(() => Input.Address)" Autocomplete="address"/>
                    <JhooaInputText @bind-Value="Input.ZipCode" DisplayName="@Loc["ZipCode"]"
                                    ValidationFor="@(() => Input.ZipCode)" Autocomplete="zipcode"/>
                    <JhooaInputText @bind-Value="Input.City" DisplayName="@Loc["City"]"
                                    ValidationFor="@(() => Input.City)" Autocomplete="city"/>
                    @* <JhooaInputText @bind-Value="Input.Country" DisplayName="@Loc["Country"]" *@
                    @*                 ValidationFor="@(() => Input.Country)" Autocomplete="country" class="mb-3"/> *@
                    <div>
                        <label for="@Input.Country" class="block mb-1 text-sm">@Loc["Country"]</label>

                        <InputSelect @bind-Value="Input.Country"
                                     class="w-full border border-white bg-transparent text-white placeholder-gray-300 px-3 py-2 focus:outline-none">
                            <option value="france">@Loc["France"]</option>
                            <option value="luxembourg">@Loc["Luxembourg"]</option>
                            <option value="belgium">@Loc["Belgium"]</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => Input.Country)" class="text-danger"/>

                    </div>
                    <div class="flex  space-x-2 mb-8  text-sm">
                        <InputCheckbox @bind-Value="Input.SubscribeToNewsletter"
                                       class="w-5 h-5 mt-1 text-jhooa-brick-500 bg-transparent border-gray-300 rounded-sm focus:ring-0 mr-4"/>
                        <label for="subscribetonewsletter" class="">@Loc["SubscribeToNewsletter"]</label>
                    </div>

                    <div class="flex space-x-2 mb-8  text-sm">
                        <InputCheckbox @bind-Value="Input.AcceptDistribution"
                                       class="w-5 h-5 mt-1 text-jhooa-brick-500 bg-transparent border-gray-300 rounded-sm focus:ring-0 mr-4"/>
                        <label for="acceptdistribution"
                               class="">@Loc["AcceptDiffusion"] <br/>@Loc["AcceptDiffusionDesc"]</label>
                    </div>
                </div>

                <div class="col-span-2 flex justify-center gap-3 mt-4">
                    <button type="submit" class="border-2 border-white px-10 py-3">@Loc["SaveChanges"]</button>
                </div>
                <div class="col-span-2 flex justify-center hover:underline">
                    <a href="/Account/Manage/ChangePassword">@Loc["ChangePassword"]</a>
                </div>
            </div>
        </EditForm>
    }
</section>

@code {
    private ApplicationUser _user = default!;
    private string? _phoneNumber;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel? Input { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _phoneNumber = await UserManager.GetPhoneNumberAsync(_user);

        Input ??= new InputModel()
        {
            Firstname = _user.FirstName,
            Lastname = _user.LastName,
            Address = _user.Address,
            Country = _user.Country,
            ZipCode = _user.ZipCode,
            City = _user.City,
            PhoneNumber = _phoneNumber!,
            SubscribeToNewsletter = _user.NewsletterActive,
            AcceptDistribution = _user.AcceptDistribution
        };
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input is not null)
        {
            if (Input.PhoneNumber != _phoneNumber)
            {
                var setPhoneResult = await UserManager.SetPhoneNumberAsync(_user, Input.PhoneNumber);
                if (!setPhoneResult.Succeeded)
                {
                    RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set phone number.", HttpContext);
                }
            }

            await DbContext.Users.Where(u => u.Id == _user.Id)
                .ExecuteUpdateAsync(setters =>
                    setters.SetProperty(s => s.FirstName, Input.Firstname)
                        .SetProperty(s => s.LastName, Input.Lastname)
                        .SetProperty(s => s.Address, Input.Address)
                        .SetProperty(s => s.ZipCode, Input.ZipCode)
                        .SetProperty(s => s.Country, Input.Country)
                        .SetProperty(s => s.City, Input.City)
                        .SetProperty(s => s.AcceptDistribution, Input.AcceptDistribution)
                        .SetProperty(s => s.NewsletterActive, Input.SubscribeToNewsletter));

            await DbContext.SaveChangesAsync();


            await SignInManager.RefreshSignInAsync(_user);
            RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public required string Firstname { get; set; }

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public required string Lastname { get; set; }

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public required string Address { get; set; }

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public required string ZipCode { get; set; }
        
        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string City { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public required string Country { get; set; }

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public required string PhoneNumber { get; set; }

        public bool SubscribeToNewsletter { get; set; }
        public bool AcceptDistribution { get; set; }

    }

}
