@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using Jhooa.UI.Features.Dreams.Models
@using Microsoft.AspNetCore.Identity
@using Jhooa.UI.Features.Identity.Models
@using Jhooa.UI.Features.Subscriptions.Models
@using Jhooa.UI.Services
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Identity.Components

@inject IStringLocalizer<Resources.Identity> Loc
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IStripeService StripeService
@inject ApplicationDbContext DbContext

<PageTitle>@Loc["Register"]</PageTitle>

<section class="max-w-screen-xl mx-auto  text-white">
    <p>@Loc["RegisterIntro"]</p>

    <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="login" class="space-y-6">
        <StatusMessage Message="@Message"/>
        <DataAnnotationsValidator/>
        <div class="grid grid-cols-3 gap-4">
            <div class="">
                <h3 class="mb-5">1 - @Loc["CreateAccount"]</h3>

                <JhooaInputText @bind-Value="Input.Lastname" DisplayName="@Loc["LastName"]"
                                ValidationFor="@(() => Input.Lastname)" Autocomplete="lastname"/>
                <JhooaInputText @bind-Value="Input.Firstname" DisplayName="@Loc["FirstName"]"
                                ValidationFor="@(() => Input.Firstname)" Autocomplete="firstname"/>
                <JhooaInputText @bind-Value="Input.Email" DisplayName="@Loc["EmailAddress"]"
                                ValidationFor="@(() => Input.Email)" Autocomplete="username"/>
                <JhooaInputText @bind-Value="Input.Address" DisplayName="@Loc["Address"]"
                                ValidationFor="@(() => Input.Address)" Autocomplete="address"/>
                <JhooaInputText @bind-Value="Input.ZipCode" DisplayName="@Loc["ZipCode"]"
                                ValidationFor="@(() => Input.ZipCode)" Autocomplete="zipcode"/>
                <JhooaInputText @bind-Value="Input.Country" DisplayName="@Loc["Country"]"
                                ValidationFor="@(() => Input.Country)" Autocomplete="country"/>
                <JhooaInputText @bind-Value="Input.PhoneNumber" DisplayName="@Loc["PhoneNumber"]"
                                ValidationFor="@(() => Input.PhoneNumber)" Autocomplete="phone"/>
                <JhooaInputText @bind-Value="Input.Password" DisplayName="@Loc["Password"]"
                                ValidationFor="@(() => Input.Password)" Autocomplete="" Type="password"/>
                <JhooaInputText @bind-Value="Input.ConfirmPassword" DisplayName="@Loc["ConfirmPassword"]"
                                ValidationFor="@(() => Input.ConfirmPassword)" Type="password"/>
            </div>
            <div>
                <h3 class="mb-5">2 - @Loc["RegisterMyWishes"]</h3>
                <h4 class="mb-5">@Loc["RegisterDreamSubTitle"]</h4>
                <p class="mb-5">@Loc["RegisterDreamDescription"]</p>

                <JhooaInputText @bind-Value="Input.SmallDream" DisplayName="@Loc["FormSmallDream"]"
                                ValidationFor="@(() => Input.SmallDream)" Autocomplete=""/>
                <JhooaInputText @bind-Value="Input.MediumDream" DisplayName="@Loc["FormMediumDream"]"
                                ValidationFor="@(() => Input.MediumDream)" Autocomplete=""/>
                <JhooaInputText @bind-Value="Input.BigDream" DisplayName="@Loc["FormBigDream"]"
                                ValidationFor="@(() => Input.BigDream)" Autocomplete=""/>

            </div>
            <div>
                <h3 class="mb-5">@Loc["RegisterMySub"]</h3>

                <h4 class="mb-5">@Loc["RegisterMySubSubTitle"]</h4>
                <p class="mb-5">@Loc["RegisterMySubDescription"]</p>

                <InputRadioGroup @bind-Value="Input.SubscriptionType">
                    <div class="flex items-center space-x-2">
                        <InputRadio id="option1" class="h-5 w-5 rounded-full border-gray-300 "
                                    Value="SubscriptionType.MonthlyOnce"/>
                        <label for="option1" class="">@Loc["RegisterMonthly"]</label>
                    </div>

                    <div class="flex items-center space-x-2">
                        <InputRadio id="option2" class="h-5 w-5 rounded-full border-gray-300 "
                                    Value="SubscriptionType.MonthlyRecurring"/>
                        <label for="option2" class="">@Loc["RegisterMonthlyRecurring"]</label>
                    </div>

                    <div class="flex items-center space-x-2">
                        <InputRadio id="option3" class="h-5 w-5 rounded-full border-gray-300 "
                                    Value="SubscriptionType.YearlyOnce"/>
                        <label for="option3" class="">@Loc["RegisterYearly"]</label>
                    </div>

                    <div class="flex items-center space-x-2">
                        <InputRadio id="option4" class="h-5 w-5 rounded-full border-gray-300 "
                                    Value="SubscriptionType.YearlyRecurring"/>
                        <label for="option4" class="">@Loc["RegisterYearlyRecurring"]</label>
                    </div>
                </InputRadioGroup>

                <div class="flex items-center space-x-2 my-5">
                    <InputCheckbox @bind-Value="Input.AcceptToc" class="h-5 w-5 rounded border-gray-300 "/>
                    <label for="accepttoc" class="">@Loc["AcceptToc"]</label>
                </div>

                <div class="flex items-center space-x-2 mb-8">
                    <InputCheckbox @bind-Value="Input.SubscribeToNewsletter" class="h-5 w-5 rounded border-gray-300 "/>
                    <label for="subscribetonewsletter" class="">@Loc["SubscribeToNewsletter"]</label>
                </div>

                <button type="submit" class="border-2 border-white p-3 bg-gray-400">@Loc["RegisterButton"]</button>
            </div>
        </div>
    </EditForm>
</section>


@code {
    private IEnumerable<IdentityError>? _identityErrors;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    private string? Message => _identityErrors is null ? null : $"{Loc["Error"]}: {string.Join(", ", _identityErrors.Select(error => error.Description))}";

// #if DEBUG
//     protected override void OnInitialized()
//     {
//         if (string.IsNullOrWhiteSpace(Input.Lastname))
//         {
//             Input.Firstname = Guid.NewGuid().ToString();
//             Input.Lastname = Guid.NewGuid().ToString();
//             Input.Email = $"{Guid.NewGuid().ToString()}@example.com";
//             Input.Address = Guid.NewGuid().ToString();
//             Input.ZipCode = Guid.NewGuid().ToString();
//             Input.Country = Guid.NewGuid().ToString();
//             Input.PhoneNumber = Guid.NewGuid().ToString();
//             Input.Password = Input.ConfirmPassword = "Abc123!";
//             Input.SmallDream = Guid.NewGuid().ToString();
//             Input.MediumDream = Guid.NewGuid().ToString();
//             Input.BigDream = Guid.NewGuid().ToString();
//             Input.AcceptToc = true;
//             Input.SubscribeToNewsletter = true;
//         }
//     }
// #endif

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        // Delete not activated user if found based on email
        var existingUser = await UserManager.FindByEmailAsync(Input.Email);
        if (existingUser is not null && existingUser.ActivatedAt is null)
        {
            await UserManager.DeleteAsync(existingUser);
            await DbContext.SaveChangesAsync();
        }

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);

        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            _identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        var smallDream = new Dream
        {
            Title = Input.SmallDream,
            Type = DreamTypes.Small,
            UserId = user.Id
        };
        var mediumDream = new Dream
        {
            Title = Input.MediumDream,
            Type = DreamTypes.Medium,
            UserId = user.Id
        };
        var bigDream = new Dream
        {
            Title = Input.BigDream,
            Type = DreamTypes.Big,
            UserId = user.Id
        };

        DbContext.Dreams.AddRange(smallDream, mediumDream, bigDream);

        var stripeCustomerId = await StripeService.EnsureCustomer(user);
        await DbContext.Users.Where(u => u.Id == user.Id)
            .ExecuteUpdateAsync(setters =>
                setters.SetProperty(s => s.StripeCustomerId, stripeCustomerId));

        var session = await StripeService.GenerateFirstPaymentIntent(stripeCustomerId, Input.SubscriptionType);
        var sub = new Subscription
        {
            Start = DateOnly.FromDateTime(DateTime.Now),
            End = GetEndDate(Input.SubscriptionType),
            UserId = user.Id,
            StripeSessionCheckoutId = session.SessionId,
            Type = Input.SubscriptionType
        };

        await DbContext.Subscriptions.AddAsync(sub);
        await DbContext.SaveChangesAsync();

        NavigationManager.NavigateTo(session.SessionUrl);
    }

    private static DateOnly? GetEndDate(SubscriptionType type)
        => type switch
        {
            SubscriptionType.MonthlyOnce
                => DateOnly.FromDateTime(DateTime.Now.AddMonths(1)),
            SubscriptionType.YearlyOnce
                => DateOnly.FromDateTime(DateTime.Now.AddYears(1)),
            SubscriptionType.MonthlyRecurring => null,
            SubscriptionType.YearlyRecurring => null,
            _ => throw new ArgumentOutOfRangeException(nameof(type), type, null)
        };

    private ApplicationUser CreateUser()
    {
        try
        {
            return new ApplicationUser()
            {
                FirstName = Input.Firstname,
                LastName = Input.Lastname,
                Address = Input.Address,
                ZipCode = Input.ZipCode,
                Country = Input.Country,
                PhoneNumber = Input.PhoneNumber,
                AcceptTos = Input.AcceptToc,
                NewsletterActive = Input.SubscribeToNewsletter,
                CreatedAt = DateTimeOffset.Now
            };
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                                                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }

        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [EmailAddress(ErrorMessageResourceName = "EmailInvalid", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string Email { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string Firstname { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string Lastname { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string Address { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string ZipCode { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string Country { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string PhoneNumber { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [DataType(DataType.Password)]
        [Compare("Password", ErrorMessageResourceName = "PasswordNotMatching", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string ConfirmPassword { get; set; } = "";


        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string SmallDream { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string MediumDream { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        [StringLength(maximumLength: 100, MinimumLength = 3, ErrorMessageResourceName = "FieldLength", ErrorMessageResourceType = typeof(Resources.Identity))]
        public string BigDream { get; set; } = "";

        [Required(ErrorMessageResourceName = "Required", ErrorMessageResourceType = typeof(Resources.Identity))]
        public SubscriptionType SubscriptionType { get; set; }


        public bool AcceptToc { get; set; }
        public bool SubscribeToNewsletter { get; set; }
    }

}
