@page "/Account/ResetPasswordConfirmation"
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Identity.Components

@inject IStringLocalizer<Resources.Identity> Loc
@layout LoginLayout

<PageTitle>@Loc["ResetPasswordConfirmation"]</PageTitle>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-4xl w-full mx-4 md:mx-auto my-10">

    <div class="flex flex-col items-center justify-center text-center text-white py-8 md:py-0 border-b lg:border-b-0 lg:border-r border-white">
        <h2 class="text-3xl md:text-3xl font-semibold mb-6 font-monetaRegular">
            @Loc["CreateAccount"]
        </h2>
        <a href="/Account/Register"
           class="border border-white text-white px-6 py-2 text-sm font-medium bg-gray-400/50 font-amsiSemiBold"
        >
            @Loc["CreateAccount"]
        </a>
    </div>


    <div
        class="flex flex-col items-center justify-center text-white py-8 md:py-0">
        <h2 class="text-3xl md:text-3xl font-semibold mb-6  font-monetaRegular">
            @Loc["ResetPasswordConfirmation"]
        </h2>

        <p>
            <a href="/Account/Login"
               class="border border-white text-white px-6 py-2 text-sm font-medium bg-gray-400/50 font-amsiSemiBold"
            >
                @Loc["Login"]
            </a>
        </p>
    </div>
</div>

<script src="js/mobileMenu.js"></script>
