@page "/Events/{id:guid}"
@using Jhooa.UI.Features.Events.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Events.Components
@using Jhooa.UI.Services

@inject IStringLocalizer<Resources.Events> Loc
@inject ApplicationDbContext DbContext

@if (_ev is not null)
{
    <PageTitle>@_ev.Title</PageTitle>
}

<JhooaStatusMessage/>

@if (_ev is not null)
{
    <section class="md:max-w-screen-xl md:mx-auto px-4 py-8">
        <div class="md:w-[140rem]">
            <div class="mb-6">
                <a href="/Events" class="inline-flex  text-gray-500  space-x-2">
                    <!-- Left arrow icon -->
                    <svg
                        class="h-4 w-4"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        viewBox="0 0 24 24">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 19l-7-7 7-7"/>
                    </svg>
                    <span>@Loc["BackToEvents"]</span>
                </a>
            </div>
        </div>
        

        <p class="text-jhooa-brick-100 font-medium mb-2">@_ev.StartDate.ToString("d")</p>
        <h1 class="text-3xl font-semibold text-teal-900 mb-4">@_ev.Title</h1>

        <div class="space-y-4 leading-relaxed">
            <p>@_ev.Description</p>
        </div>

        <Registration EventId="@_ev.Id" IsPast="@_ev.IsPast"/>

        <EventPhotos Id="@_ev.Id" />
    </section>
}



@code {
    [Parameter] public Guid Id { get; set; }

    private Event? _ev;

    protected override async Task OnParametersSetAsync()
    {
        _ev = await DbContext.Events.FirstAsync(e => e.Id == Id);
    }
}