@using Jhooa.UI.Features.Identity.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization

@inject ApplicationDbContext DbContext
@inject IStringLocalizer<Jhooa.UI.Resources.Shared> Loc

<table class="w-full  text-left ">
    <thead class="text-white uppercase border-b-2 font-amsiSemiBold">
    <tr>
        <th>@Loc["EmailAddress"]</th>
        <th>@Loc["FirstName"]</th>
        <th>@Loc["LastName"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in _users)
    {
        <tr class="even:bg-jhooa-table-even odd:bg-jhooa-table-odd">
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<ApplicationUser> _users = [];

    protected override async Task OnInitializedAsync()
    {
        _users = await DbContext.Users.Where(u => u.ActivatedAt != null).ToListAsync();
    }

}