@using Jhooa.UI.Features.Identity.Models
@using Jhooa.UI.Features.Subscriptions.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization

@inject ApplicationDbContext DbContext
@inject IStringLocalizer<Jhooa.UI.Resources.Shared> Loc

<PaginationComponent TItem="UserView" Items="_users" DefaultPageSize="15">
    <ChildContentHeader>
        <tr>
            <th>@Loc["LastName"]</th>
            <th>@Loc["FirstName"]</th>
            <th>@Loc["EmailAddress"]</th>
            <th>@Loc["Type"]</th>
            <th>@Loc["Admin"]</th>
            <th>@Loc["Actions"]</th>
        </tr>
    </ChildContentHeader>
    <ChildContentRow Context="user">
        <tr class="even:bg-jhooa-table-even odd:bg-jhooa-table-odd">
            <td>@user.LastName</td>
            <td>@user.FirstName</td>
            <td>@user.Email</td>
            <td>@user.SubType</td>
            <td>@(user.IsAdmin ? Loc["Yes"] : Loc["No"])</td>
            <td>
                <a class="px-6 py-1 text-sm bg-jhooa-peach-100 rounded-3xl font-amsiProLight" href="/Admin/Users/@user.Id">@Loc["Details"]</a>
            </td>
        </tr>
    </ChildContentRow>
</PaginationComponent>

@code {
    [Parameter] public EventCallback<int?> NbUsersCallback { get; set; }
    [Parameter] public FilterTypes? SelectedFilter { get; set; }

    private FilterTypes? _previousFilter;
    private List<UserView> _users = [];

    protected override async Task OnInitializedAsync()
    {
        _users = await DbContext.UsersView.ToListAsync();
        _users = _users.OrderBy(u => u.LastName).ThenBy(u => u.FirstName).ToList();
        await NbUsersCallback.InvokeAsync(_users.Count);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (_previousFilter != SelectedFilter)
        {
            _previousFilter = SelectedFilter;
            await FetchUsersAsync();
            await NbUsersCallback.InvokeAsync(_users.Count);
        }
    }

    private async Task FetchUsersAsync()
    {
        _users = SelectedFilter switch
        {
            FilterTypes.All => await DbContext.UsersView.ToListAsync(),
            FilterTypes.Admin => await DbContext.UsersView.Where(u => u.IsAdmin).ToListAsync(),
            FilterTypes.Active => await DbContext.UsersView.Where(u => u.IsSubscriptionActive && u.SubscriptionStatus == SubscriptionStatus.Paid).ToListAsync(),
            FilterTypes.Inactive => await DbContext.UsersView.Where(u => !u.IsSubscriptionActive).ToListAsync(),
            _ => await DbContext.UsersView.ToListAsync()
        };

        _users = _users.OrderBy(u => u.LastName).ThenBy(u => u.FirstName).ToList();
    }
}