@page "/Account/Manage/Subscription"
@attribute [Authorize]
@layout ManageLayout

@using System.Security.Claims
@using Jhooa.UI.Features.Identity.Models
@using Jhooa.UI.Features.Identity.Shared
@using Jhooa.UI.Features.Subscriptions.Models
@using Jhooa.UI.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Subscriptions.Components

@inject IStringLocalizer<Resources.Subscriptions> Loc
@inject IStripeService StripeService
@inject ApplicationDbContext DbContext
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>@Loc["MySubscription"]</PageTitle>

<section class="max-w-screen-md mx-auto  text-white">
    <h2 class="text-xl font-semibold text-center mb-4">@Loc["MySubscriptionTitle"]</h2>

    <p class="text-center mb-4 px-4">@Loc["MySubscriptionDesc"]</p>

    <StatusMessage Message="@_message"/>

    @if (_userView is not null)
    {
        @if (_userView.IsSubscriptionActive)
        {
            <p class="text-center mb-4 text-green-400 font-bold px-4">
                @switch (_userView.SubscriptionType)
                {
                    case SubscriptionType.MonthlyOnce or SubscriptionType.YearlyOnce or SubscriptionType.None:
                        @($"{Loc["ActiveSubscription"]} {_userView.SubscriptionStartDate} - {_userView.SubscriptionEndDate}")
                        break;
                    case SubscriptionType.MonthlyRecurring:
                        @if (_userView.SubscriptionEndDate is not null)
                        {
                            @($"{Loc["ActiveSubscription"]} {_userView.SubscriptionStartDate} - {_userView.SubscriptionEndDate}")
                        }
                        else
                        {
                            @($"{Loc["ActiveSubscription"]} {_userView.SubscriptionStartDate} ({Loc["AutoRenewMonthly"]})")
                        }

                        break;
                    case SubscriptionType.YearlyRecurring:
                        @if (_userView.SubscriptionEndDate is not null)
                        {
                            @($"{Loc["ActiveSubscription"]} {_userView.SubscriptionStartDate} - {_userView.SubscriptionEndDate}")
                        }
                        else
                        {
                            @($"{Loc["ActiveSubscription"]} {_userView.SubscriptionStartDate} ({Loc["AutoRenewYearly"]})")
                        }

                        break;
                }
            </p>

            @if (_userView.SubscriptionType is SubscriptionType.MonthlyRecurring or SubscriptionType.YearlyRecurring && _userView.SubscriptionEndDate is null)
            {
                <CancelSubscription
                    StripeSubscriptionId="@_userView.StripeSubscriptionId"
                    SubscriptionId="@_userView.SubscriptionId!.Value" SubscriptionType="@_userView.SubscriptionType"
                    SubscriptionStartDate="@_userView.SubscriptionStartDate"/>
            }
        }
        else
        {
            <RenewSubscription UserId="_userId"/>
        }
    }

    <div class="mb-10"></div>

</section>

<script src="js/mobileMenu.js"></script>


@code {

    private Guid _userId;
    private UserView? _userView;
    private string? _message;

    [SupplyParameterFromQuery(Name = "session-id")]
    public string? CheckoutSessionId { get; set; }

    [SupplyParameterFromQuery(Name = "renewCode")]
    public string? RenewCode { get; set; }
    
    [SupplyParameterFromQuery(Name = "canceled")]
    public string? Canceled { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity?.IsAuthenticated != true) return;
        if (authState.User.Claims.All(c => c.Type != ClaimTypes.NameIdentifier)) return;

        _userId = new Guid(authState.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);

        _userView = await DbContext.UsersView.FirstAsync(uv => uv.Id == _userId);

        if (CheckoutSessionId is not null)
        {
            var sub = await DbContext.Subscriptions
                .FirstOrDefaultAsync(s => s.StripeSessionCheckoutId == CheckoutSessionId);

            if (sub is not null)
            {
                if (sub.Type is SubscriptionType.MonthlyOnce or SubscriptionType.YearlyOnce)
                {
                    var result = await StripeService.RetrievePaymentIntentIdIfPaid(CheckoutSessionId);
                    if (result.IsSuccess)
                    {
                        sub.MarkPaymentAsPaid(result.Value);
                    }
                }

                await DbContext.SaveChangesAsync();

                _message = Loc["SubscriptionRenewed"];
            }
        }

        if (RenewCode is not null)
        {
            _message = Loc["SubscriptionRenewed"];
        }
        
        if (Canceled is not null)
        {
            _message = Loc["SubscriptionCancelled"];
        }
    }
}
