@page "/Videos"
@rendermode InteractiveServer

@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Videos.Components
@using Jhooa.UI.Features.Videos.Models

@inject IStringLocalizer<Resources.Videos> Loc

<PageTitle>@Loc["Videos"]</PageTitle>

<section class="max-w-screen-xl mx-auto text-jhooa-gray px-4">

    <h1 class="text-jhooa-teal-200 text-3xl my-10">@Loc["VideosPageTitle"]</h1>
    
    <p class="mb-4">@Loc["VideosPageText1"]</p>
    <p class="mb-4">@Loc["VideosPageText2"]</p>
    <p class="mb-4">@Loc["VideosPageText3"]</p>
    <p class="mb-4">@Loc["VideosPageText4"]</p>
    
    <h2 class="text-jhooa-teal-200 text-3xl my-10">@Loc["TheVideos"]</h2>

    <FilterVideos SelectThemeCallback="HandleThemeSelection" SelectMonthCallback="HandleMonthSelection"
                  SelectYearCallback="HandleYearSelection"/>
    
    <VideoList SelectedMonth="_selectedMonth" SelectedTheme="_selectedTheme" SelectedYear="_selectedYear" />
</section>

@code {
    private Guid? _selectedTheme;
    private int? _selectedMonth;
    private int? _selectedYear;

    private void HandleThemeSelection(Guid? theme)
    {
        _selectedTheme = theme;
    }

    private void HandleYearSelection(int? year)
    {
        _selectedYear = year;
    }

    private void HandleMonthSelection(int? month)
    {
        _selectedMonth = month;
    }

}