@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Localization.Components

@implements IDisposable

@inject IStringLocalizer<Shared> Loc
@inject NavigationManager NavigationManager

<header class="w-full bg-jhooa-admin-100">
    <div class="max-w-screen-xl mx-auto px-4 py-2 flex items-center text-white">
        <div class="flex items-center space-x-2">
            <!-- Arrow Icon -->
            <a href="/" class="focus:outline-none mr-2 flex items-center">
                <svg
                    class="h-5 w-5"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="M10 19l-7-7 7-7"/>
                    <path d="M3 12h18"/>
                </svg>
            </a>
            <a href="/" class="text-sm hover:underline hidden md:inline-block">
                @Loc["BackToHome"]
            </a>
        </div>

        <!-- Center Section: Logo -->
        <div class="flex-1 flex justify-center">
            <!-- Replace with your actual logo or brand name -->
            <h1 class="text-2xl font-semibold tracking-wide">
                <img src="images/logo.svg" alt="Jhooa" class="h-12"/>
            </h1>
        </div>

        <!-- Right Section: Button + Language Selector -->
        <div class="flex items-center space-x-4">
            <!-- Connexion Button -->
            <AuthorizeView>
                <Authorized>

                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                        <button type="submit" class="nav-link underline">
                            @Loc["Logout"]
                        </button>
                    </form>
                </Authorized>
            </AuthorizeView>


            <!-- Language Selector -->
            <div class="relative">
                <CultureSelector/>
            </div>
        </div>
    </div>
</header>

<nav class=" flex items-center justify-center bg-jhooa-admin-100 py-8">
    <!-- Menu -->
    <div class="inline-flex">
        <a
            href="/Admin"
            class="
        px-6 py-2 
        text-white 
        @(_currentRoot.EndsWith("Admin") ? "bg-[#3DA2AA]" : "bg-[#004F53]")
        border border-white
        rounded-l-full
      "
        >
            @Loc["Dashboard"]
        </a>

        <a
            href="/Admin/Users"
            class="
        px-6 py-2
        text-white 
        @(_currentRoot.StartsWith("Admin/User") ? "bg-[#3DA2AA]" : "bg-[#004F53]")
        border-t border-b border-r border-white
      "
        >
            @Loc["Users"]
        </a>

        <a
            href="/Admin/Dreams"
            class="
        px-6 py-2 
        text-white 
        @(_currentRoot.StartsWith("Admin/Dream") ? "bg-[#3DA2AA]" : "bg-[#004F53]")
        border-t border-b border-r border-white
      "
        >
            @Loc["Dreams"]
        </a>

        <a
            href="/Admin/Events"
            class="
        px-6 py-2 
        text-white 
        @(_currentRoot.StartsWith("Admin/Event") ? "bg-[#3DA2AA]" : "bg-[#004F53]")
        border-t border-b border-r border-white
      "
        >
            @Loc["Events"]
        </a>

        <a
            href="/Admin/Videos"
            class="
        px-6 py-2 
        text-white 
        @(_currentRoot.StartsWith("Admin/Video") ? "bg-[#3DA2AA]" : "bg-[#004F53]")
        border-t border-b border-white border-r
      "
        >
            @Loc["Videos"]
        </a>

        <a
            href="/Admin/Policies"
            class="
        px-6 py-2 
        text-white 
        @(_currentRoot.StartsWith("Admin/Policies") ? "bg-[#3DA2AA]" : "bg-[#004F53]")
        border-t border-b border-white
      "
        >
            @Loc["Policies"]
        </a>

        <a
            href="/Admin/ContactForms"
            class="
        px-6 py-2 
        text-white 
        @(_currentRoot.StartsWith("Admin/ContactForms") ? "bg-[#3DA2AA]" : "bg-[#004F53]")
         border border-white
        rounded-r-full
      "
        >
            @Loc["ContactForms"]
        </a>
    </div>
</nav>

@code {
    private string? _currentUrl;
    private string _currentRoot = string.Empty;
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;


    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        _currentRoot = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}