@using Jhooa.UI.Features.Dreams.Models
@using Jhooa.UI.Features.Subscriptions.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Dreams> Loc
@inject ApplicationDbContext DbContext
@rendermode InteractiveServer

<PaginationComponent TItem="Dream" Items="_dreams" DefaultPageSize="15">
    <ChildContentHeader>
        <tr>
            <th>@Loc["Type"]</th>
            <th>@Loc["Title"]</th>
            <th>@Loc["Actions"]</th>

        </tr>
    </ChildContentHeader>
    <ChildContentRow Context="dream">
        <tr class="even:bg-jhooa-table-even odd:bg-jhooa-table-odd">
            <td>@Loc[dream.Type.ToString()]</td>
            <td>@dream.Title</td>
            <td>
                <a class="px-6 py-1 text-sm bg-jhooa-peach-100 rounded-3xl font-amsiProLight" href="/Admin/Users/@dream.UserId">@Loc["Details"]</a>
            </td>
        </tr>
    </ChildContentRow>
</PaginationComponent>

@code {

    [Parameter] public DreamTypes? SelectedDreamType { get; set; }
    [Parameter] public EventCallback<int?> NbDreamsCallback { get; set; }

    private List<Dream> _dreams = [];
    private List<Guid> _activeUsers = [];
    
    protected override async Task OnInitializedAsync()
    {
        _activeUsers = await DbContext.UsersView.Where(u => u.IsSubscriptionActive && u.SubscriptionStatus == SubscriptionStatus.Paid).Select(s => s.Id).ToListAsync();
        
        _dreams = await DbContext.Dreams.Where(d => _activeUsers.Contains(d.UserId)).ToListAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        var query = DbContext.Dreams.Where(d => _activeUsers.Contains(d.UserId));

        
        if (SelectedDreamType is not null)
        {
            query = query.Where(d => d.Type == SelectedDreamType);
        }
        _dreams = await query.ToListAsync();
        
        await NbDreamsCallback.InvokeAsync(_dreams.Count);
    }
}